:root {
    --bg-color: #F0EDE5;  /* Warm  background */
    --text-primary: #242422; /* Charcoal for heading/main text */
    --text-secondary: #595955; /* Muted grey for roles, tools, and tags */   
   
    --font-primary: "Times New Roman", "Georgia", Times, serif, sans-serif;
}


*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    color: var(--text-primary)
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    background-color: var(--bg-color); 
    /* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E"); */
}

/* Page Container */
.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
    font-size: 16px;
    max-width: 800px;
    margin: 64px auto;
    padding: 24px;
    gap: 16px;
}

/* Header Container */
.header-container {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    gap: 1rem;
}

/* Projects Container */
.project-heading {
    margin-bottom: 16px;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-thumbnail {
    padding: 16px;
    background-color: #dbd4bf;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    margin-right: 16px;
    box-shadow: inset 0px 4px 6px rgba(0,0,0,0.05);
}

.project-card {
    display: flex;
    border: 1px solid #dfdaca;
    background-color: #eceae4;
    padding: 16px;
    border-radius: 8px;
    align-items: center;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-role {
    font-style: italic;
    color: var(--text-secondary);
}














