*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    font-family: 'Bebas Neue', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: aliceblue;
    padding: 8px;
    font-size: 32px;
}

.center-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto; 
    gap: 32px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.footer {
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 16px;
}

.section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 128px;
    text-align: center;
}
